<%= form_with(model: user, local: true) do |form| %>
  
<div class="formcontainers">
  <div class="formfields">
    <input name="user[first_name]" class="texter" value="<%= current_user.first_name %>" placeholder="First Name" required />
      <label class="formlabel">First Name</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input name="user[last_name]" class="texter" value="<%= current_user.last_name %>" placeholder="Last Name" required />
      <label class="formlabel">Last Name</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input name="user[facebook]" class="texter" placeholder="Facebook URL" value="<%= current_user.facebook %>" required />
      <label class="formlabel">Facebook</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input name="user[twitter]" class="texter" placeholder="Twitter URL" value="<%= current_user.twitter %>" required />
      <label class="formlabel">Twitter</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input name="user[instagram]" class="texter", placeholder="Instagram URL" value="<%= current_user.instagram %>" required />
      <label class="formlabel">Instagram</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <textarea id="about" name="user[about]" class="texter" placeholder="About"><%= current_user.about %></textarea>
  </div>

  <div class="field">
    <label class="photoLabel">Upload Profile Picture</label>
    <input type="file" name="user[image]" class="profilePhoto">
  </div>

<div class="formfields">
  <div class="mountainbutton3">
    <p><input type="submit" name="commit" value="Save" data-disable-with="Sign up"></p>
  </div>
</div>

<% end %>
</div>