<div class="eventBarContainMain">
  <div class="eventBarContain">
    <div class="eventBar"></div>
      <div class="eventBarText"></div>
  </div>
</div>

<div class='container'>
  <div id="userContainer" class='row'>
    <div class='one-half column'>
      <%= image_tag(@user.image) if @user.image? %>
    </div>
    <div class='one-half column' id="column2">
      <p><%= @user.first_name %> <%= @user.last_name %></p>
      <p><%= @user.about %></p>
      <p>
        <a href="<%= @user.facebook %>" target="_blank"><i class="fa fa-facebook-official"></i></a>
        <a href="<%= @user.twitter %>" target="_blank"><i class="fa fa-twitter-square"></i></i></a>
        <a href="<%= @user.instagram %>" target="_blank"><i class="fa fa-instagram"></i></i></a>
        <a href="mailto:<%= @user.email %>" target="_top"><i class="fa fa-envelope-o"></i></a>
      </p>
    </div>
  </div><!--  end of row -->
  <div class="row">
    <div class="one-third column">
      <p>
        <strong>Upcoming Activities</strong>
          <% @user.user_events.each do |userevent| %>
            <% if userevent.event.start_date.to_date < Date.today && userevent.status == "upcoming" %>
              <% userevent.status = 1 %>
            <% end %>
            <% if userevent.status == "upcoming" %>
              <p><%= link_to userevent.event.name, userevent.event %></p>
              <p class="fromWishlist"></p>
            <% end %>
          <% end %>
      </p>
    </div>
    <div class="one-third column">
      <p>
        <strong>Past Activities</strong>
          <% pastEvents = Array.new %>
            <% @user.user_events.each do |userevent| %>
              <% if userevent.status == "past" %>
                <% pastEvents.push(userevent) %>
                <p><%= link_to userevent.event.name, userevent.event %></p>
              <% end %>
            <% end %>
      </p>
    </div>
    <div class="one-third column">
      <p>
        <strong>Wishlist Activities</strong>
          <% @user.user_events.each do |userevent| %>
            <% if userevent.status == "wishlist" %>
              <p><%= link_to userevent.event.name, userevent.event %></p>
              <p><%= link_to "Remove From Wishlist", userevent, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></p>
            <% end %>
          <% end %>
      </p>
    </div>
  </div><!--  end of row -->
</div> <!-- end of container -->

<% if current_user %>
  <% if @user.id == current_user.id %>
    <p><%= link_to 'Edit My Account', edit_user_path(@user) %></p>
    <p><%= link_to 'Delete My Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
<% end %>

<script>
  var userevents = <%= pastEvents.length %>;
  var eventbar = document.querySelector(".eventBar");
  document.querySelector(".eventBarText").innerHTML = "<%= @user.first_name %>" + " has attended " + userevents + " activities";
  if (userevents == 0) {
    eventbar.style.width = "0%";
  }
  if (userevents > 0 && userevents <= 5) {
    eventbar.style.width = "25%";
  }
  if (userevents > 5 && userevents <= 10) {
    eventbar.style.width = "50%";
  }
  if (userevents > 10 && userevents <= 15) {
    eventbar.style.width = "75%";
  }
  if (userevents > 15 && userevents <= 20) {
    eventbar.style.width = "100%";
  }
</script>