<div class="eventBarContainMain">
  <div class="eventBarContain">
    <div class="eventBar"></div>
  </div>
</div>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@user.image) if @user.image? %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= link_to "Facebook", @user.facebook, target: "_blank" %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= link_to "Twitter", @user.twitter, target: "_blank" %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= link_to "Instagram", @user.instagram, target: "_blank" %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @user.email, "Email" %>
</p>

<p>
  <strong>Upcoming Events</strong>
  <% @user.user_events.each do |userevent| %>
    <% if userevent.event.start_date.to_date < Date.today && userevent.status == "upcoming" %>
      <% userevent.status = 1 %>
    <% end %>
    <% if userevent.status == "upcoming" %>
      <p><%= userevent.event.name %> <%= userevent.status %></p>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Past Events</strong>
  <% pastEvents = Array.new %>
  <% @user.user_events.each do |userevent| %>
    <% if userevent.status == "past" %>
      <% pastEvents.push(userevent) %>
      <p><%= userevent.event.name %> <%= userevent.status %></p>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Wishlist Events</strong>
  <% @user.user_events.each do |userevent| %>
    <% if userevent.status == "wishlist" %>
      <p><%= userevent.event.name %> <%= userevent.status %></p>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script>
  var userevents = <%= pastEvents.length %>;
  var eventbar = document.querySelector(".eventBar");
  eventbar.innerHTML = "You have attended " + userevents + " events";
  if (userevents == 0) {
    eventbar.style.width = "0%";
  }
  if (userevents > 0 && userevents <= 5) {
    eventbar.style.width = "25%";
  }
  if (userevents > 5 && userevents <= 10) {
    eventbar.style.width = "50%";
  }
  if (userevents > 10 && userevents <= 15) {
    eventbar.style.width = "75%";
  }
  if (userevents > 15 && userevents <= 20) {
    eventbar.style.width = "100%";
  }
</script>