<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@user.image) if @user.image? %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= link_to "Facebook", @user.facebook, target: "_blank" %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= link_to "Twitter", @user.twitter, target: "_blank" %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= link_to "Instagram", @user.instagram, target: "_blank" %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @user.email, "Email" %>
</p>

<p>
  <strong>Upcoming Events</strong>
  <% @user.user_events.each do |userevent| %>
    <% if userevent.status == "upcoming" %>
      <p><%= userevent.event.name %> <%= userevent.status %></p>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Past Events</strong>
  <% @user.user_events.each do |userevent| %>
    <% if userevent.status == "past" %>
      <p><%= userevent.event.name %> <%= userevent.status %></p>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Wishlist Events</strong>
  <% @user.user_events.each do |userevent| %>
    <% if userevent.status == "wishlist" %>
      <p><%= userevent.event.name %> <%= userevent.status %></p>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
