<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date.to_date %>
  <%= Date.today %>
  <% if @event.start_date.to_date < Date.today %>
    <p>past</p>
  <% end %>
  <% if @event.start_date.to_date > Date.today %>
    <p>upcoming</p>
  <% end %>
</p>

<p>
  <strong>Street:</strong>
  <%= @event.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<%= form_with(model: UserEvent.new, local: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.hidden_field :status, value: "upcoming" %>
    <%= form.submit "Upcoming" %>
<% end %>

<%= form_with(model: UserEvent.new, local: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.hidden_field :status, value: "past" %>
    <%= form.submit "Past" %>
<% end %>

<%= form_with(model: UserEvent.new, local: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.hidden_field :status, value: "wishlist" %>
    <%= form.submit "Wishlist" %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>