<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.start_date.to_date %>
  <% if @event.start_date.to_date < Date.today %>
    <p>past</p>
  <% end %>
  <% if @event.start_date.to_date > Date.today %>
    <p>upcoming</p>
  <% end %>
</p>

<p>
  <strong>Street:</strong>
  <%= @event.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<% if user_signed_in? %>
  <%= form_with(model: UserEvent.new, local: true) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :event_id, value: @event.id %>
      <%= form.hidden_field :status, value: "upcoming" %>
      <%= form.submit "Add to 'My Upcoming Events'" %>
  <% end %>

<% if @event.start_date.to_date < Date.today %>
  <%= form_with(model: UserEvent.new, local: true) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :event_id, value: @event.id %>
      <%= form.hidden_field :status, value: "past" %>
      <%= form.submit "Add to 'Events I've Attended" %>
  <% end %>
<% end %>

  <%= form_with(model: UserEvent.new, local: true) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :event_id, value: @event.id %>
      <%= form.hidden_field :status, value: "wishlist" %>
      <%= form.submit "Add to 'My Event Wishlist'" %>
  <% end %>
<% end %>

<%= social_share_button_tag(@event.name) %>