<!-- <body onload="randombg()"> -->
  <div id="random" ></div>  
<!-- </body> -->

<div class="eventShow">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h1><%= @event.name %></h1>
        <p><%= @event.description %></p>
        <p><%= @event.start_date.to_date %></p>
        <% if @event.category.length > 0 %>
          <p><strong>Category: </strong><%= @event.category %></p>
        <% end %>
      </div>
      <div id="eventColumn2" class="one-half column">
        <p class="eventShowStreet"><%= @event.street %></p>
        <p><%= @event.city %>, <%= @event.state %></p>

        <% if user_signed_in? %>
        <% if @event.start_date.to_date > Date.today %>
          <%= form_with(model: UserEvent.new, local: true) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.hidden_field :status, value: "upcoming" %>
          <div id="submitUpcoming"><%= form.submit "Add to 'My Upcoming Events'" %></div>
        <% end %>
        <% end %>

        <% if @event.start_date.to_date < Date.today %>
          <%= form_with(model: UserEvent.new, local: true) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.hidden_field :status, value: "past" %>
          <div id="submitPast"><%= form.submit "Add to 'Events I've Attended'" %></div>
        <% end %>
        <% end %>

        <% if @event.start_date.to_date > Date.today %>
          <%= form_with(model: UserEvent.new, local: true) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.hidden_field :status, value: "wishlist" %>
          <div id="submitWishlist"><%= form.submit "Add to 'My Event Wishlist'" %></div>
        <% end %>
        <% end %>
        <% end %>

      <div class="statusUpdateNotice"></div>

      <h4>Invite Your Friends</h4>
      <%= social_share_button_tag("Who wants to join me for " + @event.name) %>

      </div>
    </div>
  </div>
</div>

<script>

function randombg(){
var random= Math.floor(Math.random() * 8) + 0;
var bigSize = ["url('https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/103123/pexels-photo-103123.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/225203/pexels-photo-225203.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/372098/pexels-photo-372098.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/23380/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/238622/pexels-photo-238622.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')"];
document.getElementById("random").style.backgroundImage=bigSize[random];
}

var eventCategory = "<%= @event.category %>";

if (eventCategory.toLowerCase() === "kayaking") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/461595/pexels-photo-461595.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "sailing") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/358326/pexels-photo-358326.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "snowboarding") {
  document.getElementById("random").style.backgroundImage= "url('https://cdn-snowboarding.transworld.net/blogs.dir/442/files/2017/01/Josh-Dirksen-Oregon-Insight-Tyler-Roemer-05.jpg')";
} else if (eventCategory.toLowerCase() === "hiking") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/34511/norway-mountain-sky-blue.jpg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else {
  randombg();
}

if (document.querySelector("#submitWishlist")) {
  document.querySelector("#submitWishlist").addEventListener("click", function() {
    document.querySelector(".statusUpdateNotice").innerHTML = "Activity added to your wishlist";
  })
}

if (document.querySelector("#submitPast")) {
  document.querySelector("#submitPast").addEventListener("click", function() {
    document.querySelector(".statusUpdateNotice").innerHTML = "Activity added to your past activties";
  })
}

if (document.querySelector("#submitUpcoming")) {
  document.querySelector("#submitUpcoming").addEventListener("click", function() {
    document.querySelector(".statusUpdateNotice").innerHTML = "Activity added to your upcoming activties";
  })
}

</script>