<!-- <body onload="randombg()"> -->
  <div id="random" ></div>  
<!-- </body> -->

<div class="eventShow">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h1><%= @event.name %></h1>
        <p><%= @event.description %></p>
        <p><%= @event.start_date.to_date %></p>
        <% if @event.category.length > 0 %>
          <p><strong>Category: </strong><%= @event.category %></p>
        <% end %>
      </div>
      <div id="eventColumn2" class="one-half column">
        <p class="eventShowStreet"><%= @event.street %></p>
        <p><%= @event.city %>, <%= @event.state %></p>

        <% if user_signed_in? %>
        <% if @event.start_date.to_date > Date.today %>
          <%= form_with(model: UserEvent.new, local: true) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.hidden_field :status, value: "upcoming" %>
          <div id="submitUpcoming"><%= form.submit "Add to 'My Upcoming Events'" %></div>
        <% end %>
        <% end %>

        <% if @event.start_date.to_date < Date.today %>
          <%= form_with(model: UserEvent.new, local: true) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.hidden_field :status, value: "past" %>
          <div id="submitPast"><%= form.submit "Add to 'Events I've Attended'" %></div>
        <% end %>
        <% end %>

        <% if @event.start_date.to_date > Date.today %>
          <%= form_with(model: UserEvent.new, local: true) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.hidden_field :status, value: "wishlist" %>
          <div id="submitWishlist"><%= form.submit "Add to 'My Event Wishlist'" %></div>
        <% end %>
        <% end %>
        <% end %>

      <div class="statusUpdateNotice"></div>

      <h4>Invite Your Friends</h4>
      <%= social_share_button_tag("Who wants to join me for " + @event.name) %>

      </div>
    </div>
  </div>
</div>

<script>

function randombg(){
var random= Math.floor(Math.random() * 8) + 0;
var bigSize = ["url('https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/103123/pexels-photo-103123.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/225203/pexels-photo-225203.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/372098/pexels-photo-372098.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/23380/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb')",
               "url('https://images.pexels.com/photos/238622/pexels-photo-238622.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')"];
document.getElementById("random").style.backgroundImage=bigSize[random];
}

var eventCategory = "<%= @event.category %>";

if (eventCategory.toLowerCase() === "kayaking") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/461595/pexels-photo-461595.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "sailing") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/358326/pexels-photo-358326.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "snowboarding") {
  document.getElementById("random").style.backgroundImage= "url('https://cdn-snowboarding.transworld.net/blogs.dir/442/files/2017/01/Josh-Dirksen-Oregon-Insight-Tyler-Roemer-05.jpg')";
} else if (eventCategory.toLowerCase() === "hiking") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/34511/norway-mountain-sky-blue.jpg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "baseball") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/270154/pexels-photo-270154.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "basketball") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1493078640264-28e9ec0ae9ae?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "camping") {
  document.getElementById("random").style.backgroundImage= "url('https://media4.s-nbcnews.com/i/newscms/2017_31/1269316/camping-on-the-plaza-today-tease-170801_ce17c3eb42528d2b790af9098aab52c1.jpg')";
} else if (eventCategory.toLowerCase() === "climbing") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/34511/norway-mountain-sky-blue.jpg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "cycling") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/163407/cyclists-trail-bike-clouds-163407.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "dance") {
  document.getElementById("random").style.backgroundImage= "url('http://www.finesteps.co.uk/wp-content/uploads/2013/10/kids-dancing.jpg')";
} else if (eventCategory.toLowerCase() === "fishing") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1493787039806-2edcbe808750?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "fitness") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1492632833879-ffead221b059?auto=format&fit=crop&w=1052&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "football") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/262524/pexels-photo-262524.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "hockey") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1484070062320-c03d0bac24fe?auto=format&fit=crop&w=1056&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "hunting") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1455476915919-2b028d0a1230?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "lacrosse") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/159573/lacrosse-lax-lacrosse-game-game-159573.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "mountain biking") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1505644367495-d788ba7c6fe2?auto=format&fit=crop&w=1189&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "outdoors") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1452864982845-a252432b5d73?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "pilates") {
  document.getElementById("random").style.backgroundImage= "url('https://cdn.vox-cdn.com/thumbor/Swt5_JgR_AqDTKvMnQP9JvbL5sc=/0x309:4272x2712/1200x675/filters:focal(469x0:4266x2848)/cdn.vox-cdn.com/uploads/chorus_image/image/46692162/IMG_2047__1_.0.0.JPG')";
} else if (eventCategory.toLowerCase() === "rafting") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1449451982627-40025c095b91?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "recreation") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1440993443326-9e9f5aea703a?auto=format&fit=crop&w=1189&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "running") {
  document.getElementById("random").style.backgroundImage= "url('https://static.garmincdn.com/en_US/store/sports_rec/subcategory/running/hero_running_watch.jpg')";
} else if (eventCategory.toLowerCase() === "skiing") {
  document.getElementById("random").style.backgroundImage= "url('https://images.pexels.com/photos/298007/pexels-photo-298007.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')";
} else if (eventCategory.toLowerCase() === "soccer") {
  document.getElementById("random").style.backgroundImage= "url('http://www.thesundevils.com/images/2016/6/21/Sun_Devil_Soccer.jpg')";
} else if (eventCategory.toLowerCase() === "softball") {
  document.getElementById("random").style.backgroundImage= "url('http://bhsuathletics.com/images/2017/4/14/London_batting.jpg?width=1128&height=635&mode=crop')";
} else if (eventCategory.toLowerCase() === "surfing") {
  document.getElementById("random").style.backgroundImage= "url('https://assets.huckberry.com/uploads/post/image/1860/hero_Huckberry_Terasu_Surfing_Siberia_Dylan_Gordon_header.jpg')";
} else if (eventCategory.toLowerCase() === "swimming") {
  document.getElementById("random").style.backgroundImage= "url('https://images.unsplash.com/photo-1438029071396-1e831a7fa6d8?auto=format&fit=crop&w=1592&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')";
} else if (eventCategory.toLowerCase() === "walking") {
  document.getElementById("random").style.backgroundImage= "url('https://cmh.fcpotawatomi.com/wp-content/uploads/sites/32/2016/10/Fall-Hike-2016-Hike-1.jpg')";
} else if (eventCategory.toLowerCase() === "yoga") {
  document.getElementById("random").style.backgroundImage= "url('https://yogawithaileen.files.wordpress.com/2017/02/rooftop-yoga-singapore_22-feb_4.jpg')";
} else {
  randombg();
}

if (document.querySelector("#submitWishlist")) {
  document.querySelector("#submitWishlist").addEventListener("click", function() {
    document.querySelector(".statusUpdateNotice").innerHTML = "Activity added to your wishlist";
  })
}

if (document.querySelector("#submitPast")) {
  document.querySelector("#submitPast").addEventListener("click", function() {
    document.querySelector(".statusUpdateNotice").innerHTML = "Activity added to your past activties";
  })
}

if (document.querySelector("#submitUpcoming")) {
  document.querySelector("#submitUpcoming").addEventListener("click", function() {
    document.querySelector(".statusUpdateNotice").innerHTML = "Activity added to your upcoming activties";
  })
}

</script>