<!DOCTYPE html>
<html>
  <head>
    <title>ProjectFinal</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Karma|Nunito|Raleway" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= @class %>">
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="logo">
      <img src="https://image.flaticon.com/icons/svg/226/226676.svg" />
      <h1><a href="/">W</a></h1>
    </div>
    <div class="navContain">
    <nav>
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "All Users", users_path %></li>
        <li><i class="fa fa-tree" aria-hidden="true"></i></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      </ul>
    </nav>
  </div>
    <% if current_user %>
      <div class="userAccount">
        <i id="user" class="fa fa-user-o fa" onclick="userOptions()" ></i>
          <div class="userAccountOptions">
            <li><%= link_to "My Account", current_user %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </div>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      © 2017 WhereTo.com
    </footer>
  </body>
</html>

<script>

function userOptions() {
  var userIcon = document.querySelector(".userAccountOptions");
    if (userIcon.style.opacity === "0") {
        userIcon.style.opacity = "1";
    } else {
        userIcon.style.opacity = "0";
    }
}

</script>